# Supabase
VITE_SUPABASE_URL=https://xklvqcxhtariqqhvnseh.supabase.co
VITE_SUPA_KEY=sua_chave_aqui

# Google Maps
VITE_GOOGLE_MAPS_KEY=sua_chave_aqui

# Evolution API
EVOLUTION_URL=http://seu_ip:8080
EVOLUTION_KEY=sua_chave_aqui

# Anthropic
ANTHROPIC_API_KEY=sua_chave_aqui
